/* Global Styles */

body {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  /* Add your media query styles here */
}

/* HomePage Styles */

.homePage__container {}

.homePage__firstblock {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("../../assets/websitebg.jpg");
  background-size: cover;
  background-attachment: fixed; /* Set the background image to be fixed */
}

.homePage__secondblock {
  height: 90vh;

  gap: 50px;
  background-color: rgb(48, 47, 47);
  
}

.homePage__thirdblock {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("../../assets/websitebg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.homePage__thirdblock {
  background-color: #333; // Black background color
  color: white; // White text color
  font-family: 'Raleway', sans-serif; // Use Raleway font

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; // Center the form vertically in the section

    .heading {
      text-align: center;
      
    

      .heading-sec__main {
        display: block; // Display "Contact" as a block element
        font-weight: 600;
        color:black;
        margin-bottom: 50px;
        font-size: 48px;
      }

      .heading-sec__sub {
        display: block; // Display the subheading as a block element
        font-size: 18px; // Adjust the font size as needed
        margin-top: 10px; // Add some top margin to create space between the spans
        color:black;
        margin-bottom: 25px;

      }
    }

    .contact__form-container {
      background-color: #444; // Grey background color
      padding: 20px;
      border-radius: 10px;
      width: 70%; // Make the form container 70% of the parent container
      max-width: 600px; // Set a maximum width for the form container

      .contact__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact__form-field {
          margin-bottom: 20px;

          .contact__form-label {
            font-weight: 500;
            
          }

          .contact__form-input,
          .contact__form-textarea {
            width: calc(100% - 22px); // Adjusted width to account for padding and border
            padding: 10px;
            border: 1px solid #666; // Grey border color
            border-radius: 5px;
            background-color: #fff; // White background color
            color: #333; // Black text color
           
            font-family: 'Raleway', sans-serif; // Use Raleway font
          }
        }

        .contact__btn {
          background-color: #000; // Black button background color
          color: #fff; // White button text color
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-family: 'Raleway', sans-serif; // Use Raleway font

          &:hover {
            background-color: #222; // Darker black on hover
          }
        }
      }
    }
  }
}


/* Button Styles */

@mixin btn-border-drawing($color: #f0ebd8, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration calc(#{$duration} / 3);

  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.homePage__button {
  transform: scale(0);
  animation: popIn 3s ease forwards;
  transform: translateY(20px); /* Initial vertical translation */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #f0ebd8;
  font-family: 'Raleway', sans-serif;
  width: fit-content; /* Adjust width to fit content */
  padding: 20px; /* Add padding to create space around the title */
  position: relative;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  position: relative;

  &:focus {
    outline: 2px dotted #f0ebd8;
  }

  @include btn-border-drawing(grey, black, 4px, bottom, right);
}

@keyframes popIn {
  from {
    transform: scale(0); /* Start with scale 0 */
  }
  to {
    transform: scale(1); /* End with normal scale (1) */
  }
}

/* Text Styles */

.homePage__text__description {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  align-content: center;
  width: 50%;
  gap: 50px;
  text-align: center;
  animation: popIn 2s ease forwards;
}

@keyframes fadeInAndTranslate {
  from {
    opacity: 0;
    transform: translateY(10px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position (no vertical translation) */
  }
}

.homePage__text {
  font-size: 64px;
  font-weight: 600;
  color: black;
  font-family: 'Raleway', sans-serif;
  animation: popIn 1s ease forwards;
}

/* Arrow Styles */

.arrowDown {
  margin-top: 50px;
  color: black;
  font-size: 30px;
}


.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px); /* Start position, move it down */
  transition: opacity 2s ease, transform 2s ease;
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0); /* End position, move it up to its original position */
}

/* Second Block Text Styles */

.homePage__text__secondblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:75px;
  font-size: 48px;
  color: #f0ebd8;
  font-family: 'Raleway', sans-serif;
}

.homePage__text__description__secondblock {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 50%;
  padding-top:50px;
  margin-bottom: 50px;


}
.homePage__subBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
 text-align: center;
  align-items: center;

}



.title__skills {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  color: #f0ebd8;
  text-align: center; /* Center the title horizontally */
  margin:25px;
  font-weight: 300;
}
.homePage__skills-container {
  
  max-width: 900px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}
.homePage__skills {
  padding-top:25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; /* Center skill items horizontally */
}

.homePage__skills__list {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: black;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow skill items to grow and fill the available space */
  max-width: calc(33.33% - 20px); /* Set the maximum width for each skill item (adjust as needed) */
}

a {
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
  /* Additional styles for links in the .my-section class */
}