body {
    margin: 0 auto;
    min-height: 100vh;
    @media screen and (max-width: 900px) {
      /* Add your media query styles here */
    }
  }

  .homePage__title{
    color:white; 
    font-family: 'Orbitron', sans-serif;
     height:200px;
     align-items: center;
     display: flex;
     justify-content: center;
     margin:0;
  }