// Variables
$font-size-medium: 14px;
$font-color-white: white;

// Navbar Styles
.navbar {
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: -120px; /* Initial position above the viewport */
  left: 0;
  width: 100%;
  height: 120px;
  background-color: black;
  color: $font-color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: top 1s ease;

  &.show {
    top: 0; /* Move the navbar to its normal position */
  }

  // Logo and Text Styles
  .navbar__logo {
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      justify-content: flex-start;
    }

    img {
      height: auto;
      width: 15%;
      margin-left: 50px;
      border-radius: 100%;
      filter: grayscale(0.5);
      border: 3px solid white;

      @media screen and (max-width: 800px) {
        width: 10%;
        margin-left: 10px;
      }
    }

    .navbar__text {
      font-weight: 500;
      font-size: $font-size-medium;
      margin-left: 20px;
      color: $font-color-white;

      @media screen and (max-width: 800px) {
        font-size: $font-size-medium;
        margin-left: 10px;
      }
    }
  }

  // Weather Widget Styles
  .navbar__weather {
    position: absolute;
    font-size: $font-size-medium;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media screen and (max-width: 2000px) and (min-width: 1301px) {
      left: 28%;
    }
    @media screen and (max-width: 1300px) and (min-width: 1100px) {
      left: 30%;
    }

    @media screen and (max-width: 1100px) and (min-width: 650px) {
      left: 40%;
    }

    @media screen and (max-width: 900px) and (min-width: 50px) {
      display: none;
    }
  }

  .navbar__weather__list {
    list-style-type: none;
  }

  // Links Styles
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    @media screen and (max-width: 651px) and (min-width: 200px) {
      gap: 10px;
      padding: 0;
      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }
    
    li {
      font-weight: 500;
      font-size: 18px;
      transition: 300ms ease;

      @media screen and (max-width: 800px) and (min-width: 651px) {
        font-size: 16px;
      }

      @media screen and (max-width: 651px) and (min-width: 520px) {
        font-size: 14px;
        padding: 0;
      }

      @media screen and (max-width: 520px) and (min-width: 200px) {
        font-size: 12px;
        margin-right: 10px;
      }

      &:hover {
        transition: 300ms ease;
        transform: scale(1.1);
      }

      a {
        text-decoration: none;
        color: $font-color-white;
        position: relative;
        transition: color 0.3s ease;
        padding-bottom: 5px;
        cursor: pointer;

        &:hover {
          color: $font-color-white;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $font-color-white;
          transition: width 0.3s ease;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}
.projectLink{
  text-decoration: none;
}
