/* navbar.scss */
.navbar {
  font-family: 'Raleway', sans-serif;
 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #0d1321; /* Customize the background color as needed */
    color: #fff; /* Customize text color as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Optional: Add z-index if necessary to layer the navbar above other content */
  }
  
  .navbar__logo {
    display: flex; /* Apply flexbox to the logo and text container */
    align-items: center; /* Vertically align the content */
  }
  
  .navbar__logo img {
    height: 100px; /* Adjust the logo height as needed */
    width: 115px; /* Adjust the logo width as needed */
    padding-left:  25px;
  }
  
  .navbar__text {
    font-size: 14px; /* Adjust font size as needed */
    margin-left: 20px; /* Add spacing between the image and text */
    color: #fff; /* Customize text color as needed */
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 25px;
    position: absolute; /* Position the ul element absolutely within the navbar */
    top: 50%; /* Move the ul down to the vertical center of the navbar */
    transform: translateY(-50%); /* Adjust for vertical alignment */
    right: 20px; /* Position the ul on the right side */
  }
  
  .navbar__links li {
    font-size: 18px;
    transition: 300ms ease;
    &:hover{
      transition: 300ms ease;
      transform: scale(1.1);
   
  }
  }
  

.navbar__links a {
  text-decoration: none;
  color: #fff;
  position: relative; /* Make the anchor a positioned element */
  transition: color 0.3s ease;
  padding-bottom: 5px;
}

.navbar__links a:hover {
  color: #f0ebd8; /* Change the color on hover as needed */
}

/* Add the underline effect */
.navbar__links a::before {
  content: ''; /* Create a pseudo-element */
  position: absolute;
  bottom: 0;
 
  left: 0; /* Start from the left side */
  width: 0; /* Initially, the underline has zero width */
  height: 2px; /* Adjust the height as needed */
  background-color: #f0ebd8; /* Color of the underline */
  transition: width 0.3s ease; /* Transition the width property */
}

.navbar__links a:hover::before {
  width: 100%; /* Expand the underline to 100% on hover */
}

  
  .navbar__links a:hover {
    color: #f0ebd8; /* Change the color on hover as needed */
  }
  